
body {
    background-color: rgb(255, 255, 255);
    margin:0px !important;
    padding: 0px !important;
}

#tudo {
    display: block;
    background-color: rgba(255, 255, 255, 0.247);
    width: 1366px;
    border-style: solid;
    border-color: black;
}


img.displayed{
    display: block;
    margin-left: 15px;
    margin-right: auto;
    float: left;
    margin-top: 20px;
    border-radius: 5%;
}

#conteudo{  
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#conteudo h1{
    font-size: 18px
}

#conteudo p{
    font-size: 14px;
    line-height: 2px;
}

#menu ul{
    padding:10px;
    margin:0px;
    list-style: none;
    text-align: center;
    width: 1346px;
    background-color: rgb(0, 0, 0);
}

#menu ul li{
    display: inline
}

#menu ul li a{
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#menu ul li a:hover{
    color: white;
    border-bottom: 2px solid white
}

#info{
    float: left;
    margin-left: 15px;
    margin-top: 70px
}

#sobremim{
    display: block;
    padding: 10px;
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

#pets{
    border-style: solid;
    border-color: black;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-bottom: 23%;
    margin-bottom: 20px;
}

#pets h1{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

#hobbies{
    border-style: solid;
    border-color: black;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-bottom: 23%;
    margin-bottom: 20px;
}

#hobbies h1{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

#amigos{
    border-style: solid;
    border-color: black;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-bottom: 23%;
    margin-bottom: 20px;
}

#amigos h1{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

#artistas{
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-bottom: 42%;
    margin-bottom: 20px;
}

#artistas h1{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

#albums{
    border-style: solid;
    border-color: black;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-bottom: 23%;
    margin-bottom: 20px;
    padding-bottom: 42%;
}

#albums h1{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

img.albumone{
    display: block;
    margin-left: 80px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    border-radius: 5%;
}

img.albumtwo{
    display: block;
    margin-left: 80px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    border-radius: 5%;
}

img.album{
    display: block;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    border-radius: 5%;
}

footer{
    background-color: #000000;
    padding: 10px;
}

footer h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 5px;
    text-decoration-style: bold;
    font-size: 15px;
}


