/* GERAL */

*{
    font-family: 'Varela Round', sans-serif;
    }

body{
    background-color: rgb(255, 255, 255);
    margin:0px !important;
    padding: 0px !important;
}

#tudo{
    display: block;
    background-color: rgba(255, 255, 255, 0.247);
    width: 1366px;
    border: solid black;
    margin: auto
}


/* MENU */

#menu ul{
    padding:10px;
    margin:0px;
    list-style: none;
    text-align: center;
    width: 1346px;
    background-color: rgb(0, 0, 0);
}

#menu ul li{
    display: inline
}

#menu ul li a{
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu ul li a:hover{
    color: white;
    border-bottom: 2px solid white
}


/* INDEX */

img.displayed{
    display: block;
    margin-left: 15px;
    margin-right: auto;
    float: left;
    margin-top: 20px;
    border-radius: 5%;
}

#perfil{  
    display: block;
    color: black;
}

#perfil h1{
    font-size: 18px
}

#perfil p{
    font-size: 14px;
    line-height: 2px;
}

#info{
    float: left;
    margin-left: 15px;
    margin-top: 70px
}

#bio{
    display: block;
    padding: 10px;
    margin-top: 130px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}


/* SOBRE MIM */

#destaques{
    background: #FFF;
    height: 310px;
    margin-top: 20px;
}

.cols {
    padding: 3px;
    width: 335px;
    float: left;
    text-align: center;
}

#destaques a{
    text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

#destaques img{
    margin-bottom: 15px;
    border-radius: 5px;
}

#fotos{
    width: 850px;
    border-left: solid #000000;
    border-right: solid #000000;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 85px;
    margin: auto
}

#fotos img{
    border-radius: 5px;
}


/* ACADÊMICO */

#academico{
    margin-bottom: 150px;
}

#conteudo {
    width: 9px;
    border-left: 4px solid #000000;
    border-right: 4px solid rgb(0, 0, 0);
    background: #fff;
    padding: 30px 32px;
    margin:auto
}


/* RODAPÉ */

footer{
    background-color: #000000;
    padding: 10px;
}

footer h1{
    color: #ffffff;
    margin-left: 5px;
    text-decoration-style: bold;
    font-size: 15px;
}



